version: "3.9"

services:
  backend:
    build: ./backend
    container_name: ecommerce-backend
    ports:
      - "5000:5000"

  frontend:
    build: ./ecommerce-frontend
    container_name: ecommerce-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    command: npm run dev -- --host 0.0.0.0 --port 5173
